{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>
<body>
<div class="container">
    <div class="dashboard-card">
        <h1>Welcome, {{ request.user.username }}</h1>

        <div class="dashboard-info">
            <p>
                <strong>Role:</strong>
                <span class="role-badge">{{ profile.get_role_display }}</span>
            </p>

            <p>
                <strong>Email:</strong>
                {{ request.user.email }}
            </p>
        </div>

        <a href="{% url 'course_list' %}" class="btn">Browse Courses</a>
        <a href="{% url 'cart' %}" class="btn btn-success">🛒 My Cart</a>
        <a href="{% url 'logout' %}" class="btn btn-secondary">Logout</a>
    </div>
</div>
</body>
</html>
